* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}

body {
    background-color: blueviolet;
}

.calculator {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    border: 0.5 solid;
    box-sizing: border-box;
    border: 10px grey solid;
}

.button {
    margin: 8px;
    background-color: #d1d1d1;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
    box-sizing: border-box;
    border: 0.5px #c1c1c1 solid;
    border-radius: 3px;
}

.button:hover {
    background-color: #bbbbbb;
}

#result {
    height: 80px;
    width: auto;
    margin: 8px;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #f2f8fc;
    border: 0.5px #bfdcf0 solid;
    line-height: 80px;
    font-size: 30px;
    text-align: right;
    padding: 8px;
}

.btnbang {
    background-color: #0072c5;
}

.btnbang:hover {
    background-color: #005b9e;
}

.type2 {
    background-color: #eeeeee;
    border: 0.5px #dddddd solid;
}

.type2:hover {
    background-color: #dddddd;
}